body {
    position: relative; /* Ensure the body is positioned relative */
}

#loader {
    position: fixed; /* Absolute positioning */
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Center the loader */
    z-index: 99;
    width: 100px;
    display: none;
}

#logo{
    width: 150px;
}

.pink{
    color: #fa65b1;
    font-weight: bold;
}

.txt{
    font-size: 20px;
}

.section-heading h6{
    font-size: 25px;
}

.border-none{
    border-bottom: none !important;
}

.our-portfolio .owl-nav {
    display: inline-block !important;
    position: absolute;
    top: -50px;
    left: 2% !important;
    max-width: 1320px;
}

.lang{
    background-color: #fa65b1 !important ;
}

.whatsapp {
    position: fixed;
    bottom: 20px; /* המרחק מהחלק התחתון של המסך */
    right: 20px; /* המרחק מהחלק הימני של המסך */
    background-color: #25D366; /* צבע הווצאפ */
    border-radius: 50%; /* כדי לעשות את הכפתור עגול */
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* מבטיח שהכפתור יופיע מעל שאר התוכן */
    width: 50px;
    height: 50px;
    display: flex; /* הוספת flexbox */
    justify-content: center; /* למרכז את האייקון בצורה אופקית */
    align-items: center; /* למרכז את האייקון בצורה אנכית */
}

.whatsapp a {
    color: white; /* צבע האייקון */
    text-decoration: none; /* להסיר קו תחתון */
    font-size: 35px; /* גודל האייקון */
    text-align: center;
}


.whatsapp:hover {
    background-color: #128C7E; /* צבע בה-hover */
}


.modal-header {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: flex-start; /* Aligns items to the start of the flex container */
}

.modal-title {
    margin-left: 10px; /* Add some space between the close button and the title */
    text-align: right; /* Align title text to the right */
}

.modal-body {
    background-color: #f8f9fa; /* Light background color for the body */
    color: #333; /* Text color */
    padding: 20px; /* Padding inside the body */
}

.list-group-item {
    text-align: right; /* Align list items to the right */
}

.header-sticky{
    z-index: 999 !important;
}


@media only screen and (max-width: 1024px) {
    .main-banner {
        text-align: center;
        padding: 150px 0px 0px 0px !important;
    }
    .title {
        font-size: 32px;
    }
    .main-banner .left-content h2{
        padding-top: 20px;
        font-size: 25px;
        padding-left: 0;
        padding-right: 0;
    }
    .section-heading{
        padding-top: 10px;
        text-align: center;
    }
    .line-dec{
        display: none;
    }
    .about-left-image{
        padding-top: 80px;
    }
    .right-image {
        padding-top: 50px;
    }
    .txt{
        text-align: center;
    }
    #services{
        padding-top: 50px;
    }
    #contact{
        padding-top: 30px;
    }
    .fill-form{
        padding: 80px 30px 80px 30px;
    }
    .free-quote{
        margin-top: 75px;
    }
    .our-portfolio{
        padding-top: 80px;
    }
    .right-image{
        padding-top: 80px;
    }
    footer{
        margin-top: 80px;
    }
    .pre-header ul.info li:last-child{
        display: block;
    }
    .pre-header .info li a {
        display: flex;
        align-items: center;
    }

    /* Hide the text next to the icons on mobile */
    .pre-header .info li a i {
        margin-right: 0; /* Remove space next to the icon */
    }

    .pre-header .info li a {
        font-size: 0; /* Hide the text */
    }

    .pre-header .info li a .text {
        display: none;
    }

    /* Adjust the icons if needed */
    .pre-header .info li a i {
        font-size: 18px;
    }
    .info{
        margin-top: 5px;
        display: flex;
    }
    .pre-header ul.info li{
        margin-right: 20px;
    }
    .pre-header ul.info li i{
       font-size: 30px;
    }

    #video{
        position: relative;
        width: 100% !important;
        overflow: hidden;
     }
     
     .blog-posts{
        display: none;
     }
}
